<h1>New task</h1>
<div class="table-responsive text-nowrap">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks_new.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
          <td class="btn-group" role="group">
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to "Mark as complete", complete_task_path(task, completed: true), method: :post, class: "btn btn-outline-success btn-sm"  %>
            <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm"  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
