<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm" id="edit-form">
    <h6 class="border-bottom border-gray pb-2 mb-0">Task edit pages</h6>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <%= render 'form', task: @task %>
    </p>
  </div>
</main>
