<% if current_user.tasks.empty? %>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Welcome to the app!</h5>
      <p class="card-text">No tasks have been created yet. To start and create the first task use the button below.</p>
      <%= link_to 'Create first task', new_task_path, class: "btn btn-primary" %>
    </div>
  </div>
<% else %>
  <ul class="nav nav-tabs md-tabs nav-justified primary-color" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tabNewTask" role="tab">
        <i class="fas fa-user pr-2"></i>New task list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabCompletedTask" role="tab">
        <i class="fas fa-heart pr-2"></i>Completed task list</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in show active" id="tabNewTask" role="tabpanel">
      <%= render 'task_new' %>
    </div>

    <div class="tab-pane fade" id="tabCompletedTask" role="tabpanel">
      <%= render 'task_complete' %>
    </div>
  </div>
<% end %>
